<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP</title>
    <link rel="stylesheet" href="app.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
  <body>
  <header class="header">
    <nav class="navbar">
      <p class="titleone">Anais do Simpósio Latino Americano de Ciencias de Alimentos</p>
      <h1 class="titletwo">Anais do 13 Simpósio Latino Americano de Ciencias de Alimentos</h1>
      <p class="titlethree">ISSN: 1234-5678</p>
      <select class="select" name="language" id="language">
        <img src="language-image.png"/>
        <option value="pt-br" class="option-with-image">
        PT, BR
        </option>
      </select>
      <img class="personsmall" src="image (1).png" alt="">
        <p class="titlefour">Bem vindo!</p>
        <p class="titlefive">Alguem12@galoascience.com</p>
      <div class="badge">2</div>
    </nav>

      </header>
      <div class="sidebar">
        <div class="box">
          <h2>SLACA 2024</h2>
        </div>
          <br>
          <br>
          <div class="menu">
            <img class="image" src="logo.png" alt="">
            <li><p>Apresentação</p></li>
            <li><p>Comitês</p></li>
            <li><p>Autores</p></li>
            <li><p>Eixos Temáticos</p></li>
            <li><p>Trabalhos</p></li>
            <li><p>Contato</p></li>
            </ul>
          </div>
        </div>
        <body>
      <div class="image-section">
        <h1 class="titlevideo">Análise sensorial de preparações funcionais desenvolvidas  para escolares entre 09 e 15 anos, do município de Campinas/SP </h1>
        <img  src="dewey 1.png" alt="Análise sensorial de preparações funcionais" >
        <img  src="vídeo overlay (1).png" alt="Descrição da imagem 2" class="second-image">
        <div class="image-text">
          <div class="analise">
            <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP</h2>
        </div>
          <div class="author-info">
            <img src="round.png" alt="Foto">
            <div class="author-details">
              <p class="person">Beatriz Christiane Melo</p>
              <p class="university">FCA / Universidade Estadual de Campinas</p>
            </div>
          </div>
        </div>

        <div class="icones">
          <button class="botaoD"><i class="fa-solid fa-download"></i>Download</button>
          <button class="botao1"><i class="fa-solid fa-star"></i></button>
          <button class="botao1"><img classe="doi" src="doi.png" alt=""></button>
          <h1 class="work">COMO CITAR ESSE TRABALHO?</h1>
        </div>

      <div class="details-box">
        <div class="box2">
          <h2 class="detalhes">Detalhes</h2>
        </div>
        <p class="prim">Tipo de Apresentação: <strong>Pôster</strong> <br>
        Eixo temático: <strong>Alimentação e saúde (AS) </strong> <br>
        Palavras-chaves: <strong>Alimentos funcionais, alimentação escolar.</strong></p>
        <br>
        <h1 class="Authors">Autores:</h1>
        <span class="span1">Galileo Galilei¹<br>
        Berta Lange de Morretes²<br>
        Isaac Newton³<br>
        Cesar Lattes¹<br>
        Stephen Hawking⁴</span>
        <br>
        <br>
        <span class="span">¹Universidade Estadual de Campinas <br>
        ²Universidade de São Paulo <br>
        ³Instituto Nacional de Pesquisas Espaciais <br>
        ⁴Universidade Federal do Rio de Janeiro</span>
      </div>
    </div>
    <div class="resumo-box">
      <div class="box3">
        <h2 class="resumo-title">Resumo</h2>
      </div>
      <p class="resumo-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut, commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus nisi tellus, ut viverra lorem vestibulum ut.  Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum.  Etiam aliquam dictum nisl, vel aliquet enim accumsan sit ametl accumsant...
        <a class="btn-show-more" onclick="toggleResumo()">ver mais</a>
      <p class="resumo-content completo" style="display: none;">Fusce vitae luctus dui. Donec id euismod mauris, in volutpat urna. Proin dapibus consequat feugiat. Proin dictum justo arcu, quis vestibulum augue lacinia quis. Sed dignissim dui nulla, ut faucibus mauris sodales id. Aliquam erat volutpat. Maecenas dolor enim, tincidunt id elit non, suscipit interdum turpis. Etiam finibus urna libero, eget interdum eros volutpat ullamcorper. Pellentesque et pretium lorem. Aenean interdum quis diam ac porttitor. Cras nec ipsum pulvinar, pharetra libero non, ornare enim. Etiam in laoreet odio.
        <br><br>
        Nam eget tristique elit, at fermentum tellus. Mauris scelerisque ligula id eleifend feugiat. Donec eleifend vehicula sem nec dapibus. Integer scelerisque neque dui, in lacinia erat molestie eu. Phasellus maximus dui eget lacus porta tempor. Ut ex nibh, dignissim quis purus semper, efficitur facilisis turpis. Praesent blandit elementum ultricies. Aliquam sit amet enim sit amet nulla pulvinar lobortis consectetur non odio. Phasellus at lacus hendrerit, vulputate nisi sit amet, viverra mauris. Etiam eu scelerisque orci. Quisque sagittis, mi vitae pharetra iaculis, orci elit eleifend massa, eu posuere mauris odio id odio. Morbi eu libero luctus, consectetur lorem vel, interdum sapien. Aenean in porta arcu. Maecenas eu maximus massa.
        <br> <br> Praesent velit dolor, dignissim sed quam ac, efficitur porta justo. Pellentesque porta pharetra felis ut hendrerit. Nulla facilisi. Aliquam erat volutpat. Nunc sit amet faucibus quam. Maecenas dapibus luctus dolor at viverra. Duis nec fringilla libero. Duis risus nibh, viverra ac orci nec, iaculis dictum sem. Aliquam at malesuada arcu. Aliquam erat volutpat. Donec varius ipsum purus, ut vehicula purus placerat vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      </p>
      
      <div class="disc-box2">
        <div class="box3">
          <h2 class="disc-title">Discussões</h2>
        </div>
         <div class="disc-box3">
          <p class="Paragraph">Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!</p>
          <div id="criar-topico-box" class="criar-topico-box">
            <h2>Criar novo tópico</h2>
            <label for="assunto">Assunto:</label>
            <input type="text" id="assunto" name="assunto">
            <label for="conteudo">Conteúdo:</label>
            <textarea id="conteudo" name="conteudo"></textarea>
            <button class="enviar-topico">Enviar</button>
          </div>
        </div>
        <div class="container-success">
          <div>
            <h1 class="title">Seu tópico foi enviado com sucesso! :D</h1>
            <span>Agradecemos por sua contribuição, uma notificação será enviada ao seu email assim que seu tópico for respondido!</span>
            <a>Descubra outros trabalhos!</a>
            <hr class="line">
            <button>criar novo tópico</button>
          </div>
          <div>
            <div>
              <img src="checked.png" alt="Sucesso"/>
              <span>Aguardando feedback dos autores</span>
              <a>Editar tópico</a>
            </div>
          </div>
        </div>

        
          <h1 class="disc-content2">
            Compartilhe suas ideias ou dúvidas com os autores!
            <div class="icon-container">
              <img class="icone3" src="icone1.png" alt="">
              <img class="icone3" src="icone2.png" alt="">
              <img class="icone3" src="icone3.png" alt="">
            </div>
          </h1>
          <p class="paragrafer">Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? <br> seus questionamentos ou sugestões para o autor!</p>
          <button class="create-topic-button">
            <img src="icon - criar.png" alt="Ícone de criar tópico">
            <span class="button-text">Criar tópico</span>
          </button>
          <br>
  
      </div>
  </div>
</div>
</div>
</div>
    <div class="container-footer">
      <img class="footer" src="imagem - footer.png" alt="Descrição da imagem do rodapé">
    </div>
    </body>
    <script>
      function toggleResumo() {
        const resumoCompleto = document.querySelector('.resumo-content.completo');
        const btnShowMore = document.querySelector('.btn-show-more');
        const resumoBox = document.querySelector('.resumo-box');
        const proximaCaixa = document.querySelector('.resumo-box2');
    
        const margemSuperiorDesejada = 100;
    
        if (resumoCompleto.style.display === 'none' || resumoCompleto.style.display === '') {
          resumoCompleto.style.display = 'block';
          btnShowMore.textContent = 'ver menos';
          resumoBox.style.height = resumoBox.scrollHeight + 'px';
          const margemSuperior = resumoBox.scrollHeight + margemSuperiorDesejada;
          proximaCaixa.style.marginTop = margemSuperior + 'px';
        } else {
          resumoCompleto.style.display = 'none';
          btnShowMore.textContent = 'ver mais';
          resumoBox.style.height = 'auto';
          proximaCaixa.style.marginTop = '0';
        }
      }

      document.querySelector('.enviar-topico').addEventListener('click', function() {
        document.querySelector('.container-success').style.display = 'flex';
        document.querySelector('.disc-box3').style.display = 'none';
      })
      
      document.querySelector('.create-topic-button').addEventListener('click', function() {
        document.querySelector('.disc-content2').style.display = 'none';
        document.querySelector('.paragrafer').style.display = 'none';
        document.querySelector('.create-topic-button').style.display = 'none';
        document.querySelector('.disc-box3').style.display = 'block';
        document.getElementById('criar-topico-box').style.display = 'block';
        });

        const feedbackForm = document.getElementById('feedback-form');
        feedbackForm.addEventListener('submit', function(event) {
          event.preventDefault();
          alert('Aguardando feedback dos autores');
        });

        
    </script>
  </main>
  </html>
  

  
  