@import "~@fortawesome/fontawesome-free/css/all.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  margin-top: 5px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; /* Garante que a largura inclua o padding */
}

/* Contêiner principal */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

h2 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

/* estilo do cabeçalho  principal*/
.header {
  background-color: #fdf1eb;
  color: #5a5858;
  padding: 5px 5px -5px;
  display: flex;
  width: 100%;
  top: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  box-sizing: border-box;
  position: fixed;
  margin-top: 0;
}

.titleone,
.titletwo,
.itlethree {
  margin-left: 240px;
}

.titleone {
  margin-bottom: 10px;
  top: 30px;
  font-size: 14px;
}

.titletwo {
  margin-bottom: 0px;
  font-style: normal;
  font-size: 20px;
}

.itlethree{
  margin-bottom: 0;
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: 400;
}

.titlefour,
.titlefive {
  position: absolute;
  bottom: 0;
}

.titlefour {
  top: 15px;
  right: 150px;
}

.titlefive {
  right: 150px;
  top: 40px;
}

.select {
  font-family: "Quicksand", sans-serif;
  padding: 8px 5px 8px 12px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background-color: #fdf1eb;
  color: #333;
  display: inline-block;
  position: absolute;
  bottom: 27px;
  right: 400px;
}

.select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.select option {
  padding: 8px 12px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
}

.fa-globe {
  background-position: right 8px; 
}

.personsmall {
  width: 40px;
  float: right;
  margin-right: -544px;
  margin-top: -66px;
  border-radius: 100%;
  position: relative;
}

.badge {
  position: absolute;
  top: 10px;
  right: 0;
  margin-right: 92px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #f85959;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
/*fim do header*/

/* começo do side bar*/
.image {
  position: relative;
  margin-top: -50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
}

.sidebar {
  position: fixed;
  z-index: 2;
  width: 220px;
  height: 100vh;
  top: 0;
  left: 0;
  margin-top: 0;
  padding-top: 25px;
  background-color: #fafafa;
  box-shadow: 0px 0px 8px 2px #4f4f4f;
}


.box {
  background: linear-gradient(to bottom, #ffb354, #ee7a3a);
  border: 1px solid #ccc;
  padding: 24px 5px 9px;
  margin-top: -30px;
  text-align: center;
  border-color: #28a745;
}

.box h2 {
  margin-top: 10px;
  color: #f4f4f4;
  font-size: 30px;
}


.menu {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.menu p {
  color: #725c5c;
  padding: 5px 10px;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

.menu span {
  display: block;
  border-bottom: 3px solid #d6d6d6;
  margin-bottom: 7px;
  margin-left: -10px;
  margin-right: -10px;
}

.menu li {
  margin: 5px 0;
  border-bottom: 2px solid #d6d6d6;
  padding-bottom: 10px;
}
.menu li:hover {
  border-left: 5px solid #d75d2d;
  background-color: #fdf1eb;
  border-radius: 10px;
}
/* final do side bar*/

/* começo da imagem principal do video*/

.analise h2  {
  margin-top: -33px; /* Ajusta a margem superior para sobrepor a margem do h1 */
  margin-bottom: 0; /* Remove a margem inferior padrão */
  margin-left: 70px; /* Define a margem esquerda como zero para encostar no lado esquerdo */
  color: white; /* Define a cor do texto */
  width: 50%; /* Permite que o contêiner se ajuste automaticamente ao conteúdo */
  line-height: 1.5; /* Define a altura da linha para evitar espaçamento extra */
  display: inline-block;
}

.titlevideo {
  bottom: 80px;
  margin-bottom: 10px;
  margin-top: 100px;
  color: #ed7839;
  margin-left: 7px;
  font-size: 20px;
  line-height: 1.5;
  max-width: 47%;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}

.image-section {
  position: relative;
  left: 250px;
  width: 100%;
}

.second-image {
  position: absolute;
  top: 6;
  left: 0;
  right: 4px;
  height: 440px;
}

.image-section img {
  max-width: 100%;
}
.image-section {
  position: relative;
}

.image-text {
  position: absolute;
  top: 25%;
  left: 24%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  color: #fafafa;
}

.author-info {
  position: absolute;
  top: 199px;
  left: 550px;
  padding: 20px;
  color: rgb(255, 255, 255);
}
.person{
  font-size: 34px;
  line-height: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: -34px;
  letter-spacing: 2px;
}
.university {
  font-size: 20px;
  line-height: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  margin-bottom: -30px;
  margin-left: -20px;
  letter-spacing: 1px;
}

.author-info img {
  width: 84px;
  height: 86px;
  border-radius: 50%;
  margin-bottom: -89px;
  margin-left: -560px;
}
 /* fim da imagem principal */

 /* começo dos detalhes*/

.details-box {
  position: absolute;
  top: 74px;
  left: 820px;
  width: 17%;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #ffffff;
  padding: 30px;
  border: 1px solid #ececec;
}

.icones {
  position: absolute;
  top: -5px;
  left: 63%;
  transform: translateX(-50%);
  display: inline-block;
  margin-right: 10px;
}

.icone {
  width: 200px;
}

.work {
  color: #ed7839;
  font-family: "Roboto";
  line-height: 25px;
  letter-spacing: 5%;
  font-weight: 500px;
  font-size: 14px;
}
.botaoD {
  background-color: #ed7839;
  width: 143px;
  height: 31px;
  border-radius: 4px;
  text-align: center;
  border-right: 30px;
  padding: 6px 20px 30px 30px;
}
.botaoD i {
  margin-right: 5px;
}

.botao1 {
  background-color: #ed7839;
  width: 43px;
  height: 31px;
  padding: 5px;
  border-radius: 4px;
  padding: 5px 10px 30px;
}

.box2 {
  width: calc(100% + 100px);
  margin: -30px -40px 20px;
  background: #fdf1eb;
  border: 1px solid #e3e2e2;
  padding: -2px 2px 6px;
  text-align: center;
}
.detalhes {
  font-size: 20px;
  margin-top: 12px;
  margin-left: -170px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  color: #4e4e4e;
  font-weight: 500px;
}

.prim {
  font-family: "Quicksand", sans-serif;
  color: #5c5c5c;
  font-size: 12px;
}
.Authors {
  font-family: "Quicksand", sans-serif;
  color: #5c5c5c;
  font-size: 15px;
  width: 700px;
  margin-bottom: 5px;
}
.span1 {
  font-family: "Quicksand", sans-serif;
  color: #5c5c5c;
  font-size: 14px;
  font-weight: 200px;
  letter-spacing: 2%;
  line-height: 16.8px;
}
.span {
  font-family: "Quicksand", sans-serif;
  color: #9c9a9a;
  font-size: 12px;
  width: 400px;
}

.details-box::-webkit-scrollbar {
  width: 4px;
}

.details-box::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 5px;
}

.details-box::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 6px;
}

.details-box::-webkit-scrollbar-button {
  display: none;
}

/* fim de detalhes */

/* começo da box de resumo */

.resumo-box {
  transition: all 0.3s ease-in-out;
  position: absolute;
  margin-top: 100px;
  left: 250px; 
  width: calc(
    100% - 450px
  ); 
  margin-bottom: 100px;
  padding: 26px;
  background-color: #ffffff;
  border: 1px solid #ececec;
}


/* começo do container de sucesso */

.container-success {
  display: none;
  flex-direction: column;
  font-family: "Quicksand" serif;
  font-style: normal;
  font-weight: 400;
  
}

.container-success > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-success > div h1 {
  font-size: 18px;
  color: #ed7839;
}

.container-success > div span {
  margin-top: 18px;
  color: #595959;
  font-size: 14px;
 
}

.container-success > div a {
  color: #ed7839;
  text-decoration: none;
  border-bottom: 1px solid #ed7839;
  margin-top: 29px;
}

.container-success > div button {
  background: linear-gradient(180deg, #feb254 0%, #f0813d 100%);
  width: 235.15px;
  margin-top: 47px;
}

.container-success div:last-child {
  height: 148px;
  padding-top: 15px;
}

.container-success div:last-child div {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  gap: 10px;
}

.container-success div:last-child div a {
  color: #ed7839;
  text-decoration: none;
  border-bottom: 1px solid #ed7839;
}
/* acaba o container de sucesso */

/* começa o container de discussões */
.disc-box2 {
  position: relative;
  top: 180px; 
  left: 0; 
  margin-top: 40px;
  margin-left: -27px;
  width: calc(100% - -54px);
  padding: 26px;
  background-color: #ffffff;
  border: 1px solid #ececec;
}

.disc-box3 {
  position: absolute;
  top: 100;
  width: calc(100% - 1px); 
  padding: 26px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  display: none;
}
.disc-title {
  font-size: 20px;
  margin-top: 12px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  color: #4e4e4e;
  font-weight: 500px;
  width: calc(100% + 250px);
  text-align: left;
  margin-left: 17px;
  line-height: 25px;
}
/* footer */
.container-footer {
  margin-top: 200px;
}
/* footer */

/* container resumo */
.resumo-box p {
  max-width: 100%; 
}

.resumo-title {
  font-size: 20px;
  margin-top: 12px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  color: #4e4e4e;
  font-weight: 500px;
  width: calc(100% + 200px);
  text-align: left;
  margin-left: 17px;
  line-height: 25px;
}
.box3 {
  width: calc(100% + 54px);
  margin: -30px -27px 20px;
  background: #fdf1eb;
  border: 1px solid #e3e2e2;
  padding: -2px 2px 6px;
}

.box4 {
  width: calc(100% + 54px);
  margin: -30px -27px 20px;
  background: #fdf1eb;
  border: 1px solid #e3e2e2;
  padding: -2px 2px 6px;
}
.resumo-content {
  font-family: "Quicksand", sans-serif;
  color: #5c5c5c;
  font-size: 14px;
  font-weight: 400px;
  line-height: 22.75px;
  letter-spacing: 2%;
  margin-bottom: -0px;
}
/* fim do resumo */

.resumo-content3 {
  font-family: "Quicksand", sans-serif;
  color: #ed7839;
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.5;
  letter-spacing: 2%;
  margin-left: 4px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.disc-content2 {
  font-family: "Quicksand", sans-serif;
  color: #ed7839;
  font-size: 20px;
  font-weight: 400px;
  line-height: 1.5;
  letter-spacing: 2%;
  margin-left: 260px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.Paragraph {
  font-family: "Quicksand", sans-serif;
  color: #5c5c5c;
  font-size: 14px;
  font-weight: 400px;
  line-height: 1.5;
  max-width: 20%;
  margin-left: 270px;
  margin-bottom: 20px;
}
.paragrafer{
  font-family: "Quicksand", sans-serif;
  color: #5c5c5c;
  font-size: 14px;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  
}

.icone3 {
  display: inline-block;
  margin-top: 50px; 
  margin-left: 180px;
}

.create-topic-button {
  position: absolute;
  bottom: -17px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to bottom, #ffb354, #ee7a3a);
  color: #fff;
  border: none;
  padding: 1px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.criar-topico-box {
  display: block;
}

.criar-topic-box > label {
  background-color: #ed7839;
}

.icon-container {
  margin-left: 40px; /* Centraliza as imagens verticalmente */
}

.icone3 {
  margin-left: 60px;
}

.create-topic-button img {
  margin-right: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-text {
  margin: auto;
}

.footer {
  margin-top: 800px;
  margin-left: 260px;
}

/* Estilo para os botões */
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-show-more {
  color: #ed7839;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

#feedback-form {
  margin-top: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #28a745;
}

button[type="submit"]:hover {
  background-color: #218838;
}
